In [9]:
import pandas as pd
import requests
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
r = requests.get(url, allow_redirects=True)
open('iris.txt','wb').write(r.content)

4551

In [3]:
header = ['sepal_length','sepal_width','petal_length','petal_width','names']
df = pd.read_csv('iris.txt',names = header,index_col =False)
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width        names
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [4]:
X = df.iloc[:,:-1]
X.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [5]:
y = (df.iloc[:,-1:])
y.head(3)

         names
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa

In [12]:
X_train, X_test, y_train, y_test = train_test_split( X,y, test_size = 0.2, random_state = 0)
rfc = RandomForestClassifier()
rfc.fit(X_train, np.ravel(y_train))
y_pred = rfc.predict(X_test)
accuracy_score(y_test,y_pred)

0.9666666666666667

#### Based on the result, knowingly iris is a very simple dataset, there is a potential, with minimal hyperparameter tuning, the result can reach best accuracy like some other ml methods
#### One well known issue with RFC is without supervision, it tends to overly split the data into many mini-leaf that has only very small sample, which is another way of saying data overfitting.
#### After specifying the min_samples_split in creating new leaf node, the result improved.

In [13]:
rfc1 = RandomForestClassifier(min_samples_split = 5)
rfc.fit(X_train, np.ravel(y_train))
y_pred = rfc.predict(X_test)
accuracy_score(y_test,y_pred)

1.0